Django==1.11.1
django-registration==2.2
docutils==0.13.1
fake-factory==9999.9.9
Faker==0.7.17
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.1.1
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
tornado==4.5.1
