extends _registration_base.pug

block title
  | {{block.super}} - Activation Complete

block content
  .col-md-6
    div(class="card mx-4")
      div(class="card-block p-4")
        h1 Your account has been successfully activated.
        p.text-muted Please <a href="{% url 'auth_login' %}">login</a> to your account.