extends _registration_base.pug

block title
  | {{block.super}} - Registration Complete
 
block content
  .col-md-6
    div(class="card mx-4")
      div(class="card-block p-4")
        h1 Activate your account.
        p.text-muted Please activate your account using the activation key provided in your email.