extends _registration_base.pug

block content
  .col-md-6
    div(class="card mx-4")
      div(class="card-block p-4")
        h1 Logged out sucessfully
        p.text-muted
          a(href="{% url 'auth_login' %}") Login again