{% extends 'project/logged.html' %}
{% load static %}
{% load l10n %}

block feeds

block title
  Dashboard

block navmenu
  ul.nav
    li.nav-item
      a(class="nav-link", href="{% url 'projects:dashboard' %}") <i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span>
    li.nav-title
      | UI Elements
    li(class="nav-item nav-dropdown")
      a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-puzzle"></i> Components</a>
      ul(class="nav-dropdown-items")
        li.nav-item
          a(class="nav-link", href="components-buttons.html") <i class="icon-puzzle"></i> Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-social-buttons.html") <i class="icon-puzzle"></i> Social Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-cards.html") <i class="icon-puzzle"></i> Cards</a>
        li.nav-item
          a(class="nav-link", href="components-forms.html") <i class="icon-puzzle"></i> Forms</a>
        li.nav-item
          a(class="nav-link", href="components-modals.html") <i class="icon-puzzle"></i> Modals</a>
        li.nav-item
          a(class="nav-link", href="components-buttons.html") <i class="icon-puzzle"></i> Buttons</a>
        li.nav-item
          a(class="nav-link", href="components-switches.html") <i class="icon-puzzle"></i> Switches</a>
        li.nav-item
          a(class="nav-link", href="components-tables.html") <i class="icon-puzzle"></i> Tables</a>
        li.nav-item
          a(class="nav-link", href="components-tabs.html") <i class="icon-puzzle"></i> Tabs</a>
    li(class="nav-item nav-dropdown")
      a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-star"></i> Icons
      ul(class="nav-dropdown-items")
        li.nav-item
          a(class="nav-link", href="icons-font-awesome.html") <i class="icon-star"></i> Font Awesome
        li.nav-item
          a(class="nav-link", href="icons-simple-line-icons.html") <i class="icon-star"></i> Simple Line Icons
    li.nav-item
      a(class="nav-link", href="widgets.html") <i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span>
    li.nav-item
      a(class="nav-link", href="charts.html") <i class="icon-pie-chart"></i> Charts
    li.divider
    li.nav-title Extras
    li(class="nav-item nav-dropdown")
      a(class="nav-link nav-dropdown-toggle", href="#") <i class="icon-star"></i> Pages
      ul(class="nav-dropdown-items")
        li.nav-item
          a(class="nav-link", href="pages-login.html" target="_top") <i class="icon-star"></i> Login
        li.nav-item
          a(class="nav-link", href="pages-register.html" target="_top") <i class="icon-star"></i> Register
        li.nav-item
          a(class="nav-link", href="pages-404.html" target="_top") <i class="icon-star"></i> Error 404
        li.nav-item
          a(class="nav-link", href="pages-500.html" target="_top") <i class="icon-star"></i> Error 500
        
block breadcrumbs_block
  ol.breadcrumb
    block breadcrumbs
      li.breadcrumb-item Home
      li.breadcrumb-item 
        a(href="/admin") Admin
      li(class="breadcrumb-item active") Dashboard

    li(class="breadcrumb-menu d-md-down-none")
       block breadcrumb_menu
         div(class="btn-group", role="group", aria-label="Button group with nested dropdown")
           a(class="btn btn-secondary", href="{% url 'users:chat' %}") <i class="icon-speech"></i>
           a(class="btn btn-secondary", href="{% url 'projects:dashboard' %}") <i class="icon-graph"></i> &nbsp;Dashboard
           a(class="btn btn-secondary", href="{% url 'users:settings' %}") <i class="icon-settings"></i> &nbsp;Settings
  <!-- You are subscribed to {{subs.count}} projects. -->

block content
  .animated fadeIn
    .row
      | {% if invites %}
        .col-md-12
          .card
             .card-header Pending Invites
             .card-block
               ul
                 | {% for invite in invites %}
                   li
                     form(action="{{ invite }}", method="post", class="form-horizontal")
                       | {% csrf_token %}
                       | {{ invite.project }}
                       input(type="hidden", name="projid", value={{invite.project.id}})
                       input(type="hidden", name="invid", value={{invite.id}})
	               button(href="submit()", class="btn btn-success") <i class="fa fa-check"></i> Accept
                  
      .col-md-8
        .card
          .card-header Projects
          .card-block
            | {% if subs %}
              table(class="table table-responsive table-hover table-striped")
                thead
                  tr
                    th(class="text-center") Project Name
                    th Task
                    th Was due on
                    th User
                    th(class="text-center") Select
                tbody
                  | {% for sub in subs %}
                    | {% with sub.project as project %}
                  tr
                    td(class="projectname")
                      a(href="{{project.get_absolute_url}}") {{project.name}}
                    td &nbsp;
                    td ({{project.start_date}}{% if project.end_date %}-{{project.end_date}}{% endif %})
                    td(class="completed")
                      .row
                       .col-md-6
                         .avatar
                           img(src="/media/avatars/1.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
                           span(class="avatar-status badge-success")
                       .col-md-6
                         div {{project.owner}}
                           div(class="small text-muted") <span>New</span>| Registered: Jan 1, 2015
                    td(style="vertical-align:middle; text-align:center")
                  | {% for task in project.get_overdue %}
                    tr class={% cycle "" "tdbggrey" %}
                      td(class="projectname")
                        a(href="{{project.get_absolute_url}}") {{project.name}}
                      td
                        a(href="{{task.get_absolute_url}}">{{task.name}})
                      td {{task.expected_end_date|date}}</td>
                      td class="completed"
                        div(class="row")
                          div(class="col-md-6")
                            div(class="avatar")
                              img(src="/media/avatars/1.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
                              span(class="avatar-status badge-success")
                            div(class="col-md-6")
                              div{{task.user_responsible}}
                              div(class="small text-muted")
                                | <span>New</span>| Registered: Jan 1, 2015
                      td style="vertical-align:middle; text-align:center">
                        form(action=".", method="post", id="markdone-{{task.id}}" class="markdone">
                          | {% csrf_token %}
                          div
                            input(type="hidden", name="taskid", value="{{task.id}}"}
                            | {% if task.is_complete %}
	                      input(type="hidden", name="markundone", value="markundone")
	                      label(class="switch switch-text switch-pill switch-primary")
                                input(class="switch-input", type="checkbox", value="{{task.is_complete}}", onchange="submit()", name="markundone_check", checked="checked")
                                span(class="switch-label", data-on="On", data-off="Off")
                                span(class="switch-handle")
                            | {% else %}
	                      label(class="switch switch-text switch-pill switch-primary")
                                input(class="switch-input", type="checkbox", value="{{task.is_complete}}", onchange="submit()", name="markdone")
                                span(class="switch-label", data-on="On", data-off="Off")
                                span(class="switch-handle")
                            | {% endif %}
		  | {% endfor %}
                    | {% endwith %}
                  | {% endfor %}
            | {% endif %}
      
      .col-md-4
        .card
          form(action="{% url 'projects:createproject' %}", method="post", class="form-horizontal")
            .card-header Create a new project
            .card-block
              | {% csrf_token %}
              | {{ createform.as_div }}				
            .card-footer
              button(type="submit", class="btn btn-sm btn-primary") <i class="fa fa-dot-circle-o"></i> Submit
  
block sidebar
  | {% if subs %}
    ul
      | {% for sub in subs %}
        li
          a(href="{{sub.project.get_absolute_url}}") {{sub.project.name}}
          .floatform
            form(action=".", method="post")
              | {% csrf_token %}
              input(type="hidden", name="projectid", value="{{sub.project.id}}")
              | {% if sub.project.is_active %}
                input(type="hidden", name="activestatus", value="true")
                input(type="checkbox", name="inactivate", value="", onchange="submit()", checked="checked", class="projstatus")
              | {% else %}
                input(type="hidden", name="activestatus", value="false")
                input(type="checkbox", name="activate", value="", onchange="submit()", class="projstatus")
              | {% endif %}
          	
      | {% endfor %}
  | {% else %}
    p You are not subscribed to any project
  | {% endif %}
  h3 Meta
  p.sideblurb Your dashboard has {{subs.count}} projects.
  ul
    li
      a(href="./?includeinactive=1") Show inactive projects
  
block aside
  aside.aside-menu
    ul(class="nav nav-tabs", role="tablist")
      li.nav-item
        a(class="nav-link active", data-toggle="tab", href="#timeline", role="tab") <i class="icon-list"></i>
      li.nav-item
        a(class="nav-link", data-toggle="tab", href="#mesages", role="tab") <i class="icon-speech"></i>
      li.nav-item
        a(class="nav-link", data-toggle="tab", href="#settings", role="tab") <i class="icon-settings"></i>

    <!-- Tab panes -->
    .tab-content
      div(class="tab-pane active", id="timeline", role="tabpanel")
        div(class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase")
          small
            b Today
        hr(class="transparent mx-3 my-0")
        div(class="callout callout-warning m-0 py-3")
          div(class="avatar float-right")
            img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
          div Meeting with <strong>Lucas</strong>
          small(class="text-muted mr-3") <i class="icon-calendar"></i>&nbsp; 1 - 3pm
          small(class="text-muted") <i class="icon-location-pin"></i>&nbsp; Palo Alto, CA
        hr(class="mx-3 my-0")
        div(class="callout callout-info m-0 py-3")
          div(class="avatar float-right")
            img(src="/media/avatars/4.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
          div Skype with <strong>Megan</strong>
          small(class="text-muted mr-3") <i class="icon-calendar"></i>&nbsp; 4 - 5pm
          small(class="text-muted") <i class="icon-social-skype"></i>&nbsp; On-line
        hr(class="transparent mx-3 my-0")
        div(class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase")
          small
            b Tomorrow
        hr(class="transparent mx-3 my-0")
        div(class="callout callout-danger m-0 py-3")
          div New UI Project - <strong>deadline</strong>
          small(class="text-muted mr-3") <i class="icon-calendar"></i>&nbsp; 10 - 11pm
          small(class="text-muted") <i class="icon-home"></i>&nbsp; creativeLabs HQ
          div(class="avatars-stack mt-2")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/2.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/3.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/4.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/5.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/6.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
        hr(class="mx-3 my-0")
        div(class="callout callout-success m-0 py-3")
          div <strong>#10 Startups.Garden</strong>Meetup
          small(class="text-muted mr-3") <i class="icon-calendar"></i>&nbsp; 1 - 3pm
          small(class="text-muted") <i class="icon-location-pin"></i>&nbsp; Palo Alto, CA
        hr(class="mx-3 my-0")
        div(class="callout callout-primary m-0 py-3")
          div <strong>Team meeting</strong>
          small(class="text-muted mr-3") <i class="icon-calendar"></i>&nbsp; 4 - 6pm
          small(class="text-muted") <i class="icon-home"></i>&nbsp; creativeLabs HQ
          div(class="avatars-stack mt-2")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/2.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/3.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/4.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/5.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/6.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
            div(class="avatar avatar-xs")
              img(src="/media/avatars/8.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
        hr(class="mx-3 my-0")
      div(class="tab-pane p-3", id="messages", role="tabpanel")
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          div(class="py-3 pb-5 mr-3 float-left")
            .avatar
              img(src="/media/avatars/7.jpg", class="img-avatar", alt="admin@bootstrapmaster.com")
              span(class="avatar-status badge-success")
          div
            small(class="text-muted") Lukasz Holeczek
            small(class="text-muted float-right mt-1") 1:52 PM
          div(class="text-truncate font-weight-bold") Lorem ipsum dolor sit amet
          small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        
      div(class="tab-pane p-3", id="settings", role="tabpanel")
        h6 Settings
        .aside-options
          div(class="clearfix mt-4")
            small 
              b Option 1
            label(class="switch switch-text switch-pill switch-success switch-sm float-right")
              input(type="checkbox", class="switch-input", checked="")
              span(class="switch-label", data-on="On", data-off="Off")
              span(class="switch-handle")
          div
            small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .aside-options
          div(class="clearfix mt-4")
            small 
              b Option 2 
            label(class="switch switch-text switch-pill switch-success switch-sm float-right")
              input(type="checkbox", class="switch-input")
              span(class="switch-label", data-on="On", data-off="Off")
              span(class="switch-handle")
          div
            small(class="text-muted") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .aside-options
          div(class="clearfix mt-3")
            small 
              b Option 3
            label(class="switch switch-text switch-pill switch-success switch-sm float-right")
              input(type="checkbox", class="switch-input")
              span(class="switch-label", data-on="On", data-off="Off")
              span(class="switch-handle")
        .aside-options
          div(class="clearfix mt-3")
            small 
              b Option 4
            label(class="switch switch-text switch-pill switch-success switch-sm float-right")
              input(type="checkbox", class="switch-input", checked="")
              span(class="switch-label", data-on="On", data-off="Off")
              span(class="switch-handle")
        hr 
        h6 System Utilization
        div(class="text-uppercase mb-1 mt-4")
          small
            b CPU Usage
        div(class="progress progress-xs")
          div(class="progress-bar bg-info", role="progressbar", style="width: 25%", aria-valuenow="25", aria-valuemin="0", aria-valuemax="100")
        small(class="text-muted") 348 Processes. 1/4 Cores.
        div(class="text-uppercase mb-1 mt-2")
          small
            b Memory Usage
        div(class="progress progress-xs")
          div(class="progress-bar bg-warning", role="progressbar", style="width: 70%", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100")
        small(class="text-muted") 11444GB/16384MB
        div(class="text-uppercase mb-1 mt-2")
          small
            b SSD 1 Usage
        div(class="progress progress-xs")
          div(class="progress-bar bg-danger", role="progressbar", style="width: 95%", aria-valuenow="95", aria-valuemin="0", aria-valuemax="100")
        small(class="text-muted") 243GB/256GB
        div(class="text-uppercase mb-1 mt-2")
          small
            b SSD 2 Usage
        div(class="progress progress-xs")
          div(class="progress-bar bg-success", role="progressbar", style="width: 10%", aria-valuenow="10", aria-valuemin="0", aria-valuemax="100")
        small(class="text-muted") 25GB/256GB
  
block jsblock
    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    <!-- script src="{% static 'js/views/main.js' %}"></script -->
