{% extends 'project/base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block navmenu %}
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-list"></i></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="d-md-down-none">admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>

                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>

                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>

                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
            </li>

        </ul>
{% endblock %}  

{% block subnav %}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block feeds %}
{% endblock %}

{% block topheader %}
<div class="signout"></div>
<div id="logo"><img src="{% static 'images/logo.gif' %}" alt="" /></div>
<div class="icon"></div>
{% endblock %}

{% block outercontent %}
<div id="content1">
  <div id="leftcontent">
		<h1>Welcome to Dashbard!</h1>
		<h3 class="arrowh3">Plan. Track. Manage.</h3>
		<ul class="ultext">
      <li>* Manage depenedencies with multi-level-hierchical task structure. </li>
      <li>* Track time spent with task items.</li>
      <li>* Integrated wiki, file storage and notice board.</li>
      <li>* Versioned projects so your data is never lost.</li>
      <li>* Integrated metrics.</li>
		  <li>* Keep track of changes via mail or rss. </li>
		  <li>* Multiple access levels.</li>
		</ul>

    <h2>Oh look. Some screenshots!</h2>
    <div class="m-img"><img src="{% static 'screenshots/tn_calendar_1.png' %}" alt="" /><br />Calendar</div>
    <div class="m-img"><img src="{% static 'screenshots/tn_dashboard_1.png' %}" alt="" /><br />Metrics</div>
    <div class="m-img"><img src="{% static 'screenshots/tn_metrics_1.png' %}" alt="" /><br />Dashboard</div>
	</div>

  <div id="rightcontent">
    <div id="sigin">
			<h3>Signin into DashBoard</h3>
			<div class="createcontent">
        <form action="{% url 'users:login' %}" method="post">
          {% csrf_token %}
					{{login_form}}
					<input type="submit" value="login" />
				</form>
			</div>
			<div class="forgatpass">
        <p style="color:#4D7CA7; padding-left:95px;"><a href="{% url 'auth_password_reset' %}">Forgot your password?</a> | <a href="#">Help</a></p>
        <p style="padding-left:110px; margin-top:30px;"><span style="font-size:15px;">Don't have a Account yet ?</span><br />Signing up is easy.</p>
        <p style="padding-left:140px; margin-top:20px;"><a href="{%url 'registration_register' %}" class="join"></a></p>
			</div>
    </div>
  </div>
  <br style="clear:both" />
</div>
{% endblock outercontent %}
