{% extends 'project/base.html' %}
{% load static %}
{% load l10n %}


{% block topmenu %}
<ul class="nav navbar-nav d-md-down-none">
  <li class="nav-item">
    <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link" href="{% url 'projects:dashboard' %}">Dashboard</a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link" href="{% url 'users:list' %}">Users</a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link" href="{% url 'users:settings' %}">Settings</a>
  </li>
</ul>
{% endblock %}

{% block usermenu %}
{% with request.user.userprofile as userdata %}
<ul class="nav navbar-nav ml-auto">
  <li class="nav-item d-md-down-none">
    <a class="nav-link" href="{% url 'users:notify' 'updates' %}#updates"><i class="icon-bell"></i>{% if userdata.notifications.updates %}<span class="badge badge-pill badge-danger">{{ userdata.notifications.updates }}</span>{% endif %}</a>
  </li>
  <li class="nav-item d-md-down-none">
    <a class="nav-link" href="{% url 'users:projects' %}"><i class="icon-list"></i></a>
  </li>
  <li class="nav-item d-md-down-none">
    <a class="nav-link" href="{% url 'users:pins' %}"><i class="icon-location-pin"></i></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="{{userdata.avatar_url}}" class="img-avatar" alt="{{ request.user.email }}">
      <span class="d-md-down-none">{{ request.user.username }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-header text-center">
        <strong>Account</strong>
      </div>

      <a class="dropdown-item" href="{% url 'users:notify' 'updates' %}#updates"><i class="fa fa-bell-o"></i> Updates{% if userdata.notifications.updates %}<span class="badge badge-info">{{ userdata.notifications.updates }}</span>{% endif %}</a>
      <a class="dropdown-item" href="{% url 'users:notify' 'messages' %}#messages"><i class="fa fa-envelope-o"></i> Messages{% if userdata.notifications.messages %}<span class="badge badge-success">{{ userdata.notifications.messages }}</span>{% endif %}</a>
      <a class="dropdown-item" href="{% url 'users:notify' 'tasks' %}#tasks"><i class="fa fa-tasks"></i> Tasks{% if userdata.notifications.tasks %}<span class="badge badge-danger">{{ userdata.notifications.tasks }}</span>{% endif %}</a>
      <a class="dropdown-item" href="{% url 'users:notify' 'comments' %}#comments"><i class="fa fa-comments"></i> Comments{% if userdata.notifications.comments %}<span class="badge badge-warning">{{ userdata.notifications.comments }}</span>{% endif %}</a>

      <div class="dropdown-header text-center">
        <strong>Settings</strong>
      </div>

      <a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa fa-user"></i> Profile</a>
      <a class="dropdown-item" href="{% url 'users:settings' %}"><i class="fa fa-wrench"></i> Settings</a>
      <a class="dropdown-item" href="{% url 'users:payments' %}"><i class="fa fa-usd"></i> Payments{% if userdata.notifications.payments %}<span class="badge badge-default">{{ userdata.notifications.payments }}</span>{% endif %}</a>
      <a class="dropdown-item" href="{% url 'users:projects' %}"><i class="fa fa-file"></i> Projects{% if userdata.notifications.projects %}<span class="badge badge-primary">{{ userdata.notifications.projects }}</span>{% endif %}</a>
      <div class="divider"></div>
      <a class="dropdown-item" href="{% url 'users:lock' %}"><i class="fa fa-shield"></i> Lock Account</a>
      <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-lock"></i> Logout</a>
    </div>
  </li>
  <li class="nav-item d-md-down-none">
    <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
  </li>
</ul>
{% endwith %}  
{% endblock %}  
