{% extends 'project/project.html' %}
{% load static %}
{% load l10n %}

{% block feeds %}
{% endblock %}

{% block title %}{{ block.super }} - {{ project }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item"><a href="{% url 'projects:dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:project' project.slug  %}">{{ project }}</a></li>
  <li class="breadcrumb-item active">Logs</li>
{% endblock %}

{% block content %}
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
	        Logs for {{project.name}}
        </div>
        <div class="card-block">
              {% for log in logs %}
              <div class="message">
                <div>
                  <span class="text-truncate font-weight-bold">{{log.title}}</span>
                  <small class="text-muted float-right mt-1">{{log.created_on|date}} {{log.created_on|time}}</small>
                </div>
                {% if log.description %}
                <small class="text-muted">{{log.description}}</small>
                {% endif %}
              </div>
              {% if not forloop.last %}
              <hr>
              {% endif %}
              {% endfor %}
          {% if logs.has_other_pages %}
  
          <div>
              <ul class="pagination">
                {% if logs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ logs.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in logs.paginator.page_range %}
                <li class="page-item{% if logs.number == i %} active{% endif %}"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                {% endfor %}
                {% if logs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ logs.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
              </ul>			
          </div>  
        </div>
              {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}