{% extends 'project/project.html' %}
{% load static %}

{% block title %}{{ block.super }} - Settings{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item"><a href="{% url 'projects:dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:project' project.slug  %}">{{ project }}</a></li>
  <li class="breadcrumb-item active">Settings</li>
{% endblock %}

{% block content %}
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          {{ project.name }}
        </div>
        <div class="card-block">
          <table class="table table-responsive table-hover table-striped">
            <thead>
              <tr>
                <th>User</td>
                <th>Unsubscribe</td>
                <th>Change Permission</td>
              </tr>
            </thead>
            <tbody>
              {% for user in project.projectuser_set.all %}
              <tr>
                <td>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="avatar">
                        <img src="{% static user.user.userprofile.avatar %}" class="img-avatar" alt="{{ user.user.email }}">
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div>{{user.user.username}}</div>
                      <div class="small text-muted">
                        <span>New</span>| Registered: Jan 1, 2015
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <form action="{% url 'projects:settings' project.slug %}"  method="post">
	 	            {% csrf_token %}
	 	            <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Unsubscribe</button>
	                <input type="hidden" name="user" value="user.user.username" />
	              </form>
                </td>
                <td>
                  <form action="{% url 'projects:settings' project.slug %}"  method="post" class="form-horizontal">
	 	            {% csrf_token %}
	 	            <input type="hidden" name="user" value="user.user.username" />
	 	            <div class="form-group row">
	                    <label for="id_group" class="form-control-label col-md-2">Group:</label>
	                    <div class="col-md-5">
		                    <select id="id_group" class="form-control required" name="group">
		                      <option value="Owner" {% ifequal user_group 'Owner' %}selected="selected"{% endifequal %}>Owner</option>
		                      <option value="Participant" {% ifequal user_group 'Participant' %}selected="selected"{% endifequal %}>Participant</option>
		                      <option value="Viewer" {% ifequal user_group 'Viewer' %}selected="selected"{% endifequal %}>Viewer</option>
		                    </select>
	                    </div>
	                    <div class="col-md-5">
	 	            <button type="submit" class="form-control btn btn-primary">Change group</button>
	                    </div>
	 	            </div>
	                
	              </form>
                </td>
              </tr>
              {% endfor %}
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}