                    <tr>
                      <td style="vertical-align:middle; text-align:center" class="projectname"><a href="#">{{task.name}}</a></td>
                      <td style="vertical-align:middle"> 
                          <div>
                            <span class="small text-muted">Expected</span>
                            <span>
							  {% if task.expected_start_date %}
                              {{task.expected_start_date|date}}
							  {% else %}
							  No date specified
							  {% endif %}
                            </span>
                          </div>
                          <div>
                            <span class="small text-muted">Actual</span>
                            <span>
				              {% if task.actual_start_date %}
                              {{task.actual_start_date|date}}
							  {% else %}
							  No date specified
							  {% endif %}
                            </span>
                          </div>
                      </td>
                      <td style="vertical-align:middle"> 
                          <div>
                            <span class="small text-muted">Expected</span>
                            <span>
							  {% if task.expected_end_date %}
                              {{task.expected_end_date|date}}
							  {% else %}
							  No date specified
							  {% endif %}
                            </span>
                          </div>
                          <div>
                            <span class="small text-muted">Actual</span>
                            <span>
				              {% if task.actual_end_date %}
                              {{task.actual_end_date|date}}
							  {% else %}
							  No date specified
							  {% endif %}
                            </span>
                          </div>
                      </td>
                      <td style="vertical-align:middle; text-align:center" class="completed">
                            <div class="avatar">
                              <img src="/static/images/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                              <span class="avatar-status badge-success"></span>
                            </div>
                            <div>{{task.user_responsible}}</div>
                      </td>
                      <td style="vertical-align:middle; text-align:center">
                        <a href="#">Details</a>
                      </td>
                      <td style="vertical-align:middle; text-align:center"><a href="#"><i class="fa fa-edit fa-lg"></i></a></td>
                      <td style="vertical-align:middle; text-align:center">
                 	      <form action="." method="post" id="markdone-{{task.id}}" class="markdone">
                          {% csrf_token %}
                          <div>
                            <input type="hidden" name="taskid" value="{{task.id}}" />
                            {% if task.is_complete %}
		                    <input type="hidden" name="markundone" value="markundone" />
			                <label class="switch switch-text switch-pill switch-primary">
				              <input class="switch-input" type="checkbox" value="{{task.is_complete}}" onchange="submit()" name="markundone_check" checked="checked" />
				              <span class="switch-label" data-on="On" data-off="Off"></span>
				              <span class="switch-handle"></span>
			                </label>
	                        {% else %}
			                <label class="switch switch-text switch-pill switch-primary">
				              <input class="switch-input" type="checkbox" value="{{task.is_complete}}" onchange="submit()" name="markdone" />         
				              <span class="switch-label" data-on="On" data-off="Off"></span>
				              <span class="switch-handle"></span>
			                </label>
	                        {% endif %}
	                      </div>
                        </form>
		                  </td>
                      <td style="vertical-align:middle; text-align:center">
                 	      <form action="." method="post" id="deletetask-{{task.id}}" class="deletetask">
                          {% csrf_token %}
                          <div>
                            <input type="hidden" name="taskid" value="{{task.id}}" />
    		                <input type="hidden" name="deletetask" value="deletetask" />
    		                <a href="#" onclick="submit()"><i class="fa fa-trash fa-lg"></i></a>
		                  </div>
                        </form>
		                  </td>
                    </tr> 
